version: '3'

services:
  ros_stream:
    build:
      context: ros_stream
    devices:
      - "/dev/video0:/dev/video0"
    command: roslaunch bringup.launch

  openface_stream:
    build:
      context: openface_stream
    environment:
      ISTREAM_PATH: http://ros_stream:8080/stream?topic=/usb_cam/image_raw
      OSTREAM_ADDRESS: 0.0.0.0
      OSTREAM_PORT: 8080
    command: src/temp.py

  resolvable:
    image: mgood/resolvable
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock
      - /etc/resolv.conf:/tmp/resolv.conf
